<%
var title = "";
var text = "";
var mediaSrc = "";
console.log(post.thumbnailMetadata);


if(post.thumbnailMetadata) {
	if(post.thumbnailMetadata.hasOwnProperty('title')) {
		console.log("title");
		title = post.thumbnailMetadata.title;
	}
	if(post.thumbnailMetadata.hasOwnProperty('text')) {
		text = post.thumbnailMetadata.text;
	}
	if(post.thumbnailMetadata.hasOwnProperty('mediaSrc')) {
		mediaSrc = post.thumbnailMetadata.mediaSrc;
	}
}
var date = post.date;
var likes = post.likes;
var comments = post.comments;
if(!date) { date = ""; }
if(!likes) { likes = ""; }
if(!comments) { comments = ""; }

console.log(title);
console.log(text);
console.log(mediaSrc);
console.log(date);
console.log(likes);
console.log(comments);


%>


<div class="post format-image box"> 
	<div class="frame">
		<a href="post.html">
			<img src = <%= mediaSrc %> alt="" />
		</a>
	</div>
	<h2 class="title"><a href="post.html"><%= title  %></a></h2>
	<p><%= text  %></p>
	<div class="details">
		<span class="icon-image"><a href="#"><%= date  %></a></span>
		<span class="likes"><a href="#" class="likeThis"><%= likes  %></a></span>
		<span class="comments"><a href="#"><%= comments  %></a></span>
	</div>
</div>
