<%
var title = "";
var chat = [][];
int i =0;
console.log(post.thumbnailMetadata);
if(post.thumbnailMetadata) {
	if(post.thumbnailMetadata.hasOwnProperty('title')) {
		console.log("title");
		title = post.thumbnailMetadata.title;
	}
	if(post.thumbnailMetadata.hasOwnProperty('chat')) {
		posts.thumbnailMetadata.chat.forEach(function(chat){ 
			if(post.hasOwnProperty("name")) {
				chat[i]["name"] = post.thumbnailMetadata.chat.name;
			}
			if(post.hasOwnProperty("message")) {
				chat[i]["message"] = post.thumbnailMetadata.chat.message;
			}
			i++;
	}
}
var date = post.date;
var tried = post.tried;
var challenge = post.challenge;
var likes = post.likes;
var comments = post.comments;
if(!date) { date = ""; }
if(!likes) { likes = ""; }
if(!comments) { comments = ""; }
if(!tried) { tried = ""; }
if(!challenge) { challenge = ""; }

console.log(title);
console.log(date);
console.log(likes);
console.log(comments);
%>

<div class="post format-chat box"> 
	<h2 class="title"><a href="post.html"><%= title  %></a></h2>
	<ul>
		<% 	noOfMessage = chat.length;
			for(i = 0;i < noOfMessage; i++){ %>
				<li><strong><%- chat[i]["name"] %>:</strong><%- chat[i]["message"] %></li>
			<% } %>
	</ul>
	<div class="details">
		<span class="icon-image"><a href="#"><%= date  %></a></span>
		<span class="tried"><a href="#" class="tried"><%= tried  %></a></span>
		<span class="challenge"><a href="#" class="challenge"><%= challenge  %></a></span>
		<span class="likes"><a href="#" class="likeThis"><%= likes  %></a></span>
		<span class="comments"><a href="#" class="comments"><%= comments  %></a></span>
	</div>
</div>
